bin
workspace
*.orig
*.swp
*.iml
*.ipr
*.iws
.DS_Store
.~lock.*.csv*
.~lock.*.xls*
.classpath
.project
.iml
.idea
.springBeans
.gitconfig
.log
.settings/
compressed/
target/
overlays/
build/
out/
logs/
/lib
