<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="utilDateImpl" class="org.example.case5.impl.UtilDateImpl"/>

    <bean id="utilService" class="org.example.case5.impl.BookingServiceImpl">
        <constructor-arg index="0" ref="utilDateImpl"/>
    </bean>

    <bean id="jodaService" class="org.example.case5.impl.BookingServiceImpl">
        <constructor-arg index="0">
            <bean class="org.example.case5.impl.JodaTimeImpl"/>
        </constructor-arg>
    </bean>

</beans>